{% extends "base.html" %}
{% block content %}



    <table class="table">
    <thead class="thead-light">
       <th>ID</th>
       <th>Type</th>
       <th>Availability Zone</th>
       <th>Status</th>
       <th> </th>
    </>
    {% for instance in instances %}
        <tr>
            <td>{{ instance.id }}</td>
            <td>{{ instance.instance_type }}</td>
            <td>{{ instance.placement['AvailabilityZone']}}</td>
            <td>{{ instance.state['Name'] }}</td>

        <td>
                <form action="{{url_for('view_instance',id=instance.id)}}" method='get'>
                    <input class="btn btn-outline-primary" type='submit' value='Details' />
                </form>
            </td>






        </tr>
    {% endfor %}
    </table>
{% endblock %}